/*
 * Darkforce-vim-colors
 */
:root,
.darkforce-vim-colors {
  --black: #000000;
  --marshland: #050604;
  --rangoon-green: #090806;
  --woodsmoke: #16171a;
  --cod-gray: #1c1c1c;
  --tuatara: #2c2b2a;
  --shark: #303135;
  --tuna: #363639;
  --ship-gray: #404044;
  --abbey: #505055;
  --tundora: #4a4a4a;
  --scorpion: #606060;
  --dove-gray: #636363;
  --boulder: #777777;
  --shuttle-gray: #505a6a;
  --river-bed: #40485a;
  --lynch: #667f9b;
  --dusty-gray: #9c9c9c;
  --fire-bush: #e68e3a;
  --di-serria: #ddaa66;
  --tan: #ccaa88;
  --soft-amber: #ccbcab;
  --raw-sienna: #ce7f34;
  --mandalay: #b1761a;
  --santas-gray: #a0a0aa;
  --silver-chalice: #b2b2b2;
  --blumine: #225588;
  --moon-mist: #ddddcc;
  --silver-rust: #ccc0c0;
  --alto: #dddddd;
  --silver: #cccccc;
  --night-rider: #0e0707;
  --el-salva: #994433;
  --old-brick: #9d1c1c;
  --crown-of-thorns: #772222;
  --cowboy: #4a2a2a;
  --wisteria: #ae71bd;
  --orchid: #dd77cc;
  --viola: #ce8ace;
  --lilac: #cc99cc;
  --pickled-bluewood: #334455;
  --battleship-gray: #869677;
  --bay-leaf: #77aa88;
  --japonica: #dd7766;
  --burnt-sienna: #ee6666;
  --antique-brass: #cc8877;
  --coral-tree: #aa6666;
  --salt-box: #5d5361;
  --nepal: #88aabb;
  --hit-gray: #a5b4bb;
  --raven: #707a8a;
  --portage: #88aaee;
  --charade: #262631;
  --americano: #887b74;
}
